/* FORMATAGE GLOBAL
---------------------------------------*/
html {
  font-size: 18px;
}

body {
  font: normal 1em/1.5 Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 3em 5%;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
  margin-bottom: .5em;
}

section {
  margin: 5em 0;
}

footer {
  padding: 2em 5%;
  margin-top: 3em;
  border-top: solid 1px #ccc;
}


/* FIGURE AND SVG
---------------------------------------*/
.svg-wrap {
  max-width: 200px;
  margin: 3em auto 0;
  /* background-color: #ccc */
}

/*CHANGE SVG COLOR (works only with code)*/
.svg-code svg {
  fill: #ff0000;
}
.svg-code:hover svg {
  fill: blue;
  cursor: pointer;
}