/* DESKTOP FIRST APPROACH
 * BREAK POINTS:
 * 1200px -> 992px -> 768px -> 576px
--------------------------------------------*/
header {
  min-height: 100px;
  background-color: #fc0;
}

main {
  min-height: 400px;
  display: flex;
  text-align: center;
}
article, aside{
  display: flex;
  align-items: center;
  justify-content: center;
}
article {
  background-color: #f5f5f5;
  width: 75%;
}
aside {
  background-color: #ccc;
  width: 25%;
}


@media (max-width: 650px) {
  main {
    display: block;
  }
  article, aside {
    width: 100%;
    display: block;
    min-height: 200px;
  }
}
